/************************************************************************************
VIEWPORTS SMALLER THAN 980px
*************************************************************************************/
@media screen and (max-width: 980px) {

  .wrapper {
    width: 100%;
  }

  /* MAIN BODY CONTENT */

  .content {
    padding-top: 60px;
  }

  .section {
    height: 100%;
  }

  .section-info {
    width: 90%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .section h1 {
    font-size: 21px;
    padding-top: 0px;
  }

  .section-info p {
    font-size: 16px;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
  }

}

/************************************************************************************
VIEWPORTS SMALLER THAN 650px
*************************************************************************************/
@media screen and (max-width: 650px) {

  .wrapper {
    width: 100%;
  }

  /* MAIN BODY CONTENT */

  .content {
    padding-top: 60px;
  }

  .section {
    height: 100%;
  }

  .section-info {
    width: 90%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .section h1 {
    font-size: 21px;
    padding-top: 0px;
  }

  .section-info p {
    font-size: 18px;
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
  }

}

/************************************************************************************
VIEWPORTS SMALLER THAN 560
*************************************************************************************/
@media screen and (max-width: 480px) {
  
  .wrapper {
    width: 100%;
  }

  /* MAIN BODY CONTENT */

  .content {
    padding-top: 60px;
  }

  .section {
    height: 100%;
  }

  .section-info {
    width: 90%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .section h1 {
    font-size: 21px;
    padding-top: 0px;
  }

  .section-info p {
    font-size: 18px;
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
  }

}

/************************************************************************************
iPad Landscape Orientation Media Query Smaller than 768px; *************************************************************************************/


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

  .wrapper {
    width: 100%;
  }

  /* MAIN BODY CONTENT */

  .content {
    padding-top: 60px;
  }

  .section {
    height: 100%;
  }

  .section-info {
    width: 90%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .section h1 {
    font-size: 21px;
    padding-top: 0px;
  }

  .section-info p {
    font-size: 16px;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
  }

}
