/* -------------------- GENERAL STYLES -------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 16px;
  min-height: 100vh;
  position: relative;
  background-color: #fff;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  width: 75%;
  padding: 0;
  height: 1px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #ccc;
}

.wrapper {
  margin: 0 auto;
  min-height: 100%;
  position: relative;
}

::selection {
  background: #cccccc;
}

.divider-line {
  width: 50px;
  padding: 15px 0 15px 0;
}

/* -------------------- HEADER STYLES -------------------- */

.header {
  top: 0;
  z-index: 1;
  width: 100%;
  height: 60px;
  font-size: 1em;
  position: fixed;
  background: #FFFFFF;
  border-bottom: 1px solid #e5e8ec;
  transition: top 0.2s ease-in-out;
}

.header a {
  color: #292828;
  cursor: pointer;
  letter-spacing: 5px;
  transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out; 
  -webkit-transition: 0.25s ease-in-out;
}

.header a:hover {
  opacity: 0.5;
}

.nav-up {
  top: -60px;
}

.logo img {
  display: block;
  margin: 0 auto;
  padding-top: 12px;
  transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out; 
  -webkit-transition: 0.25s ease-in-out;
}

.logo img:hover {
  opacity: 0.5;
}

.header-section {
  top: 50%;
  left: 50%;
  width: 75%;
  display: block;
  margin: 0 auto;
}

/* -------------------- MAIN BODY CONTENT -------------------- */

.content {
  /*padding-top: 60px;*/
  padding-bottom: 75px;
}

/* --------------------  INDEX STYLES -------------------- */

.banner-image {
  padding: 0;
  display: block;
  margin: 0 auto;
}

.banner-image img {
  display: block;
  margin: 0 auto;
  /*border-top: 1px solid #e0e0e0;*/
  /*border-bottom: 1px solid #e0e0e0;*/
}

.grey {
  background-color: #e0e0e0;
}

.section {
  height: 100%;
}

.section-info {
  top: 50%;
  left: 50%;
  width: 75%;
  height: 100%;
  display: block;
  margin: 0 auto;
  padding: 100px 0 100px 0;
}

.section-info h1 {
  color: #404040;
  font-size: 30px;
  text-align: left;
  font-weight: 300;
}

.section-info p {
  color: #000;
  font-size: 18px;
  font-weight: 300;
  text-align: left;
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}

/* -------------------- FOOTER -------------------- */

/* To make sticky footer set padding-bottom to content equal to footer height.*/

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 75px;
  opacity: 0.9;
  position: absolute;
  background: #ffffff;
  border-top: 1px solid #e5e8ec;
}

.footer p {
  color: black;
  font-size: 10px;
  font-weight: 400;
  padding-top: 30px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
}

/* --------------------------- COLORS & ANIMATIONS ---------------------------*/


/* ANIMATED UNDERLINE */

.cmn-t-underline {
  color: #e31937;
  position: relative;
}

.cmn-t-underline:after {
  width: 0;
  left: 12px;
  content: "";
  height: 3px;
  bottom: -21px;
  display: block;
  position: absolute;
  background-color: #e31937;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.cmn-t-underline:hover {
  color: #e31937;
}

.cmn-t-underline:hover:after {
  width: 100%;
}

/* BUTTON STYLE */

button {
  height: 50px;
  width: 225px;
  color: #ffffff;
  cursor: pointer;
  padding: 13px 0;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 3px;
  background: #6d6d6d;
  border: 1px solid #ffffff;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  transition-duration: .25s;
  transition-property: background;
  transition-timing-function: linear;
}

button:hover {
  color: #ffffff;
  background: #b80000;
}

/* PACE LOADING STYLES */

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #df2800;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

.pace .pace-progress-inner {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #df2800, 0 0 5px #df2800;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 15px;
  right: 15px;
  width: 14px;
  height: 14px;
  border: solid 2px transparent;
  border-top-color: #df2800;
  border-left-color: #df2800;
  border-radius: 10px;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
  0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
  0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
  0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
  0% { transform: rotate(0deg); transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}

/* VIDEO STYLES */

.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}

.no-video .video-container video,
.touch .video-container video {
  display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}

.video-container {
  left: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
  position: relative;
}

.video-container video {
  bottom: 0;
  z-index: 0;
  position: absolute;
}

.video-container video.fillWidth {
  width: 100%;
}
