/* FONTS */

@font-face {
  font-family: 'DisplayType';
  src: url('../assets/fonts/DisplayType.woff');
  local('DisplayType'),
  url('../assets/fonts/DisplayType.woff')
}

@font-face {
  font-family: 'RobotoMono-Regular';
  src: url('../assets/fonts/RobotoMono-Regular.ttf');
  local('RobotoMono-Regular'),
  url('../assets/fonts/RobotoMono-Regular.ttf')
}

@font-face {
  font-family: 'RobotoMono-Medium';
  src: url('../assets/fonts/RobotoMono-Medium.ttf');
  local('RobotoMono-Medium'),
  url('../assets/fonts/RobotoMono-Medium.ttf')
}

@font-face {
  font-family: 'GTWalsheimPro-Bold';
  src: url('../assets/fonts/GTWalsheimProTrial-Bold.otf');
  local('GTWalsheimPro-Bold'),
  url('../assets/fonts/GTWalsheimProTrial-Bold.otf')
}

@font-face {
  font-family: 'GTWalsheimPro-Regular';
  src: url('../assets/fonts/GTWalsheimProTrial-Regular.otf');
  local('GTWalsheimPro-Regular'),
  url('../assets/fonts/GTWalsheimProTrial-Regular.otf')
}
