@font-face {
  font-family: 'DisplayType';
  src: url('../assets/fonts/DisplayType.woff');
  local('DisplayType'),
  url('../assets/fonts/DisplayType.woff')
}

@font-face {
  font-family: 'NeueHaasGrotesk-Regular';
  src: url('../assets/fonts/NeueHaasGroteskRegular.ttf');
  local('NeueHaasGroteskRegular'),
  url('../assets/fonts/NeueHaasGroteskRegular.ttf')
}

@font-face {
  font-family: 'NeueHaasGrotesk-Medium';
  src: url('../assets/fonts/NeueHaasGroteskMedium.ttf');
  local('NeueHaasGroteskMedium'),
  url('../assets/fonts/NeueHaasGroteskMedium.ttf')
}

@font-face {
  font-family: 'NeueHaasGrotesk-Bold';
  src: url('../assets/fonts/NeueHaasGroteskBold.ttf');
  local('NeueHaasGroteskBold'),
  url('../assets/fonts/NeueHaasGroteskBold.ttf')
}
